.Navbar {
  height: var(--header-height);
  padding: 20px;
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}
